@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


#drawing-mode {
  margin-bottom: 10px;
  vertical-align: top;
}
#drawing-mode-options {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #f5f2f0;
  padding: 10px;
}

/*
label {
  display: inline-block; width: 130px;
}
*/


.info {
  display: inline-block;
  width: 25px;
  background: #ffc;
}
#bd-wrapper {
  min-width: 1500px;
}

/* tabs styling */


.tab-wrap input {
  display: none;
}

.tab-wrap label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tab-wrap label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab-wrap label[for*='1']:before { content: '\f040'; }
.tab-wrap label[for*='2']:before { content: '\f031'; }

.tab-wrap label:hover {
  color: #888;
  cursor: pointer;
}

.tab-wrap input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

.tab-wrap #tab1:checked ~ #content1,
.tab-wrap #tab2:checked ~ #content2,
.tab-wrap #tab3:checked ~ #content3,
.tab-wrap #tab4:checked ~ #content4 {
  display: block;
}

/* imperial activities overriding some styles */



.icl-activity-wrap button, .icl-activity-wrap input[type=button]
{
	padding:10px;
	font-size:20px;
	border-radius:5px;
	border:0px;
	background:#415f8f;
	color:#fff;	
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	margin:5px 2px 5px 2px;
}

.icl-activity-wrap button:hover {
  background:#6789bf;
}

.icl-activity-wrap button:focus {
  background-color: #f4414d;
  outline: none;
  border: 0;
}


